dialog {
    background-color: rgba(255, 236, 222, 0.98);
    color: rgba(90, 66, 74, 0.73);
    border-radius: 10%;
    border-color: rgba(90, 66, 74, 0.73);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.38);
}

.dialog-content {
    padding: 20px;
}

.dialog-content h3 {
    font-size: 1.5rem;
}



.button-dialog {
    display: flex;
    justify-content: flex-end;
}

.button-dialog button {
    padding: 10px 15px;
    margin-left: 10px;
    background-color: #fff;
    border-radius: 10%;
    color: #ff4c00;
    font-weight: bold;
    font-size: 1rem;
    border-style: none;
    transition: .1s;
}

@media (min-width: 1200px) {
    .button-dialog button:hover {
        background: linear-gradient(90deg, #ff4c00, #ff8a05);
        color: #fff;
    }
}

@media (max-width: 576px) {
    .dialog-content {
        padding: 10px;
    }

    .dialog-content h3 {
        font-size: 1.2rem;
    }

    .button-dialog button {
        padding: 10px 15px;
        margin-left: 10px;
        font-size: 0.8rem;
    }

    .dialog-content p {
        font-size: 0.9rem;
    }
}
