.products-h1 {
    color: #fff;
    font-size: 4rem;
    font-family: "Londrina Sketch", sans-serif;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    background: linear-gradient(90deg, #ff4c00, #ff8a05);
}

.basket {
    position: relative;
    color: #ff4c00;
}

.basket span {
    position: absolute;
    top: 0;
    right: 0;
}

.basket button {
    font-size: 1.5rem;
    color: #ff4c00;
    border: none;
    background-color: transparent;
}

.basket button:hover{
    cursor: pointer;
}


.container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
}

.product {
    overflow: hidden;
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: #1324b1;
    color: white;
    flex-basis: 29%;
    border-radius: 4.5%;
}

.product p,
.product h3 {
    padding: 10px;
}
.product h3 {
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.product p {
    font-size: 1rem;
}
.product img {
     height: 20rem;
     width: 100%;
    border-bottom: 2px solid #ff4c00;
}

 .actions {
     display: flex;
     flex-direction: row;
     padding: 20px;
     justify-content: flex-end;
 }

 .actions button {
     padding: 10px 40px;
     background-color: #fff;
     border-radius: 10%;
     color: #ff4c00;
     font-weight: bold;
     font-size: 1.5rem;
     font-family: "Londrina Sketch", sans-serif;
     border-style: none;
     letter-spacing: 2px;
 }

 .actions button:hover {
     background: linear-gradient(90deg, #ff4c00, #ff8a05);
     color: #fff;
     font-weight: normal;
 }

 .products-details {
     padding: 0 20px;
 }

