.products-h1 {
    color: #fff;
    font-size: 4rem;
    font-family: "Londrina Sketch", sans-serif;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    background: linear-gradient(90deg, #ff4c00, #ff8a05);
}

.basket {
    position: relative;
    color: #ff4c00;
}

.basket span {
    position: absolute;
    top: 0;
    right: 0;
}

.basket button {
    font-size: 1.5rem;
    color: #ff4c00;
    border: none;
    background-color: transparent;
}

.basket button:hover{
    cursor: pointer;
}

.search-input span {
    padding: 10px;
}

.search-input input {
    width: 18vh;
    padding: 8px;
    background-color: #0d1c8e;
    border-width: 3px;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #1321a5, #ff4c00);
}

input::placeholder {
    color: rgba(255, 76, 0, 0.59);
}

.search-input input:focus {
    background-color: #323fc6;
    color: #fff;
}

.container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
    padding: 0;
}

.corners {
    border: 4px solid #ff4c00;
}

.product {
    overflow: hidden;
    list-style: none;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, rgb(0, 0, 0), rgba(15, 2, 200));
    color: white;
    flex-basis: 29%;
    border-radius: 4.5%;

}

.product h3 {
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: 15px;
    border-bottom: 2px solid #ff4c00;

}

.product p {
    font-size: 1.1rem;
}

.product img {
     height: 20rem;
     width: 100%;
}

 .actions {
     display: flex;
     flex-direction: row;
     padding: 20px;
     justify-content: flex-end;
 }

 .actions button {
     padding: 10px 40px;
     background-color: #fff;
     border-radius: 10%;
     color: #ff4c00;
     font-weight: bold;
     font-size: 1.5rem;
     font-family: "Londrina Sketch", sans-serif;
     border-style: none;
     letter-spacing: 2px;
 }

.products-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
    padding: 0 20px;
}

.text-back {
    padding-top: 10px;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
}

 @media (min-width: 1080px) {
 .actions button:hover {
     background: linear-gradient(90deg, #ff4c00, #ff8a05);
     color: #fff;
     font-weight: normal;
 }
}

@media (max-width: 1200px) {
    .product {
        flex-basis: 43%;
    }
}

 @media (max-width: 992px) {
     .products-h1 {
         font-size: 3rem;
     }

     .basket button {
         font-size: 1.2rem;
     }


     .product h3 {
         color: #fff;
         font-size: 1.1rem;
         letter-spacing: 1px;
     }

     .product p {
         font-size: 0.9rem;
     }

     .product img {
         height: 15rem;
     }

     .actions {
         padding: 10px;
     }

     .actions button {
         padding: 10px 30px;
         font-size: 1.2rem;
     }
 }

@media (max-width: 768px) {
    .basket span {
        top: 1rem;
        right: 1rem;
    }

    .basket button {
        font-size: 1.1rem;
    }

    .container {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    .product {
        width: 60%;

    }

    .product img {
        width: 100%;
        height: 18rem;

    }

    .products-details {
        height: 35vh;

    }
}

@media (max-width: 576px) {
    .basket span {
        top: 2rem;
        right: 1rem;
    }

    .products-h1 {
        margin-top: 80px;
        font-size: 2.7rem;
        width: 60%;
    }

    .basket button {
        font-size: 1rem;
    }

    .container {
        gap: 1rem;
        padding: 0;
    }

    .product {
        width: 65%;
    }

    .product h3 {
        font-size: 1rem;
    }

    .product p {
        font-size: 0.8rem;
    }

    .product img {
        height: 12rem;
    }

    .products-details {
        height: 30vh;

    }

    .actions {
        display: block;
        width: 100%;
        padding: 0;
    }

    .actions button {
        width: 100%;
        padding: 10px 40px;
        background: linear-gradient(90deg, #ff4c00, #ff8a05);
        border-radius: 0;
        color: #fff;
        font-size: 1.2rem;
    }
}