/*:root {*/
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  /*line-height: 1.5;*/
  /*font-weight: 400;*/

  /*color-scheme: light dark;*/
  /*color: rgba(255, 255, 255, 0.87);*/
  /*background-color: #ffffff;*/

  /*font-synthesis: none;*/
  /*text-rendering: optimizeLegibility;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/


body {
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    width: 1600px;
    background: linear-gradient(to bottom right, rgb(0, 0, 0), rgba(15, 2, 200));
}


header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header img {
    width: 400px;
    border-right: white solid 5px;
    border-left: white solid 5px;
    border-top: white solid 5px;
}

.logo-img {
    background-color: rgba(255, 255, 255, 0.59);
}

header h1 {
    background-color: rgba(255, 255, 255);
    color: #ff4c00;
    /*width: 200px;*/
    margin-top: 200px;
    margin-left: -5rem;
    font-size: 4rem;
    font-family: "Londrina Sketch", sans-serif;
    transform: rotate(-10deg);
    border: #ff4c00 solid 2px;
    /*margin-right: -200px;*/
}

/*header .header-text {*/
/*    position: relative;*/
/*    transform: rotate(-90deg);*/
/*}*/

nav {
    position: sticky;
    top: 0;
    padding: 20px;
    /*top: 5px;*/
    /*right: 5vw;*/
    /*width: 50%;*/
    /*border-bottom: black solid 1px;*/
    /*width: 50%;*/
}



ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin-right: 15px;
}

ul li {
    padding: 10px;
    font-size: 20px;
    font-family: "Inconsolata", monospace;
    color: white;

}

ul li:last-child {
    border-left: #ff4c00 solid 1px;
    color: #ff4c00;
}
 li span {
     padding: 0 10px;
 }

 .img-background {
     position: absolute;
     top:0;
     z-index: -1;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     width: 1600px;
     height: 800px;
     margin: 0 auto;
     /*width: 100%;*/
     justify-content: space-between;
     align-items: center;
     /*background-color: white;*/
     background: linear-gradient(to bottom left, rgb(0, 0, 0), rgba(15, 2, 200));

 }
 .img {
     height: 190px;
     width:390px;
     /*padding: 10px;*/
     /*margin-bottom: 1px;*/
     border: black solid 1px;
     background-color: aqua;
     background-size: cover;
     background-position: center;
 }

 .img::after {
     content: "";
     display: block;
     height: 100%;
     width: 100%;
     background-color: rgba(18, 18, 198, 0.36);
 }

 .img-1 {
     /*background-color: white;*/
     /*margin: 10px;*/

     background-image: url("assets/background/chuttersnap-4JHMt29fvj8-unsplash.jpg");
     /*padding: 0 10px;*/

 }
.img-2 {
    background-image: url("assets/background/karsten-winegeart-c5lwhP9RMkA-unsplash.jpg");

}
.img-3 {
    background-image: url("assets/background/egor-litvinov-PxOKiijNQ5M-unsplash.jpg");
}
.img-4 {
    background-image: url("assets/background/elyas-pasban-anqECSim-pc-unsplash.jpg");
}
.img-5 {

    background-image: url("assets/background/david-gavi-HPVRnFeplbQ-unsplash.jpg");

}
.img-6 {
    background-image: url("assets/background/ilyuza-mingazova-40ZdNQ7I5Oo-unsplash.jpg");
}
.img-7 {
    background-image: url("assets/background/ilyuza-mingazova-LUOwdouWIh0-unsplash.jpg");
}
.img-8 {
    background-image: url("assets/background/karsten-winegeart-c5lwhP9RMkA-unsplash.jpg");
}
.img-9 {
    background-image: url("assets/background/martin-sanchez-sp28h4ugLts-unsplash.jpg");
}
.img-10 {
    background-image: url("assets/background/sobhan-joodi-QPNaz7qS16c-unsplash.jpg");
}
.img-11 {
    background-image: url("assets/background/david-gavi-HPVRnFeplbQ-unsplash.jpg");
}
.img-12 {
    background-image: url("assets/background/egor-litvinov-PxOKiijNQ5M-unsplash.jpg");
}
.img-12 {
    background-image: url("assets/background/ilyuza-mingazova-40ZdNQ7I5Oo-unsplash.jpg");
}
.img-13 {
    background-image: url("assets/background/egor-litvinov-PxOKiijNQ5M-unsplash.jpg");
}
.img-14 {
    background-image: url("assets/background/sobhan-joodi-QPNaz7qS16c-unsplash.jpg");
}
.img-15 {
    background-image: url("assets/background/chuttersnap-4JHMt29fvj8-unsplash.jpg");
}
.img-16 {
    background-image: url("assets/background/karsten-winegeart-c5lwhP9RMkA-unsplash.jpg");
}


.about {
    margin-top: 200px;
    /*padding-top: 100px;*/
    display: flex;
    flex-direction: row;

    width: 1600px;
    /*margin: 0 auto;*/
    justify-content: center;
    border-radius: 2%;
    /*background-color: #BBE4A8;*/
    /*background: linear-gradient(to bottom right, rgb(0, 0, 0), rgba(15, 2, 200));*/
    /*box-shadow: 0 10px 45px 0 rgba(255, 76, 0, 0.8);*/

}

.img-about-first {
    overflow: hidden;
    position: relative;
    /*background-image: url("../public/images/ryan-plomp-4bEJQM9u-Fc-unsplash-removebg-preview.png");*/
    height: 612px;
    flex-basis: 40%;
    background-repeat: no-repeat;
    /*box-shadow: 0 10px 45px 0 rgba(255, 76, 0, 0.8);*/
    /*border-radius: 2%;*/

}

.img-about-first img {
    position: absolute;
    top: 0;
    left: -70%;

}

.button-about {
    /*overflow: hidden;*/
    height: 612px;
    line-height: 612px;
    flex-basis: 40%;
    /*z-index: -1;*/

    /*border-left: #ff4c00 solid 7px;*/
    /*flex-basis: 40%;*/
}

.button-about > button {
    font-family: "Londrina Sketch", sans-serif;
    font-size: 3rem;
    padding: 10px 35px;
    border: #BBE4A8 solid 1px;
    border-radius: 5%;
    color: #ff4c00;
    font-weight: bold;
    background: linear-gradient(to bottom right, rgb(13, 28, 142), rgba(15, 2, 200))
}

.button-about > button:hover {
    color: #BBE4A8;
    transform: rotate(-10deg);
}

/*footer {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    height: 2rem;*/
/*    !*width: 100%;*!*/
/*}*/
footer > p {
    color: #ff4c00;
    text-align: center;
}








