/*:root {*/
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  /*line-height: 1.5;*/
  /*font-weight: 400;*/

  /*color-scheme: light dark;*/
  /*color: rgba(255, 255, 255, 0.87);*/
  /*background-color: #ffffff;*/

  /*font-synthesis: none;*/
  /*text-rendering: optimizeLegibility;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/


body {
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    width: 1600px;
    background: linear-gradient(to bottom right, rgb(0, 0, 0), rgba(15, 2, 200));
}


footer > p {
    color: #ff4c00;
    text-align: center;
}
@media (max-width: 1200px) {
    body {
        width: 1100px;
    }
}

@media (max-width: 992px) {
    body {
        width: 900px;
    }
}

@media (max-width: 768px) {
    body {
        width: 700px;
    }
}

@media (max-width: 576px) {
    body {
        width: 500px;
    }
}




